rules:
    - TechnoArtisan\PhpstanStrictRules\Rules\DisallowEmptyConstructRule
    - TechnoArtisan\PhpstanStrictRules\Rules\TypedClassConstantRule
    - TechnoArtisan\PhpstanStrictRules\Rules\DisallowLooseInArrayRule
    - TechnoArtisan\PhpstanStrictRules\Rules\DisallowLooseComparisonRule
